@font-face {
	font-family: "worksans-extralight";
	src: url("../fonts/worksans-extralight.woff2") format("woff2");
	src: url("../fonts/worksans-extralight.woff") format("woff");
	src: url("../fonts/worksans-extralight.ttf") format("truetype");
}
@font-face {
	font-family: "worksans-regular";
	src: url("../fonts/worksans-regular.woff2") format("woff2");
	src: url("../fonts/worksans-regular.woff") format("woff");
	src: url("../fonts/worksans-regular.ttf") format("truetype");
}
@font-face {
	font-family: "montserrat-light";
	src: url("../fonts/montserrat-light.woff2") format("woff2");
	src: url("../fonts/montserrat-light.woff") format("woff");
	src: url("../fonts/montserrat-light.ttf") format("truetype");
}

/* Colors
-----------
Black:	#000	rgb(0, 0, 0)
White:	#fff	rgb(255, 255, 255)
Blue:	#06204A	rgb(6, 32, 74)
Yellow:	#EBE756	rgb(235, 231, 86)
Red:	#C93C39	rgb(201, 60, 57)
*/

/* GLOBAL
------------------------------------------*/
main, article, header, nav, section, aside, footer {
	display: block;
}

html {
	background-color: #000;
	color: #fff;
	font-size: 16px;
}

body {
	margin: 0 auto;
	width: 100%;
	/*border: 1px dashed white;*/
}
h2 {
	font-size: 1.4rem;
	text-align: center;
}
h3 {
	/*display: inline-block;*/
	margin: 0;
	padding: 0;
	 /*font-size: 1.2rem; */

}
a {
	text-decoration: none;
	color: #ebe756;
}
#background-image {
	background: url('../images/spacex-hero-img_1920_o72.jpg') no-repeat fixed center/cover;
	max-width: 1920px;
	height: 1500px;
	/*margin-top: -100px;*/
}
nav ul {
	padding-left: 0;
	margin: 0;
}
nav ul li {
	display: inline-block;
	padding: 3px 5px;
}
#page-header a {
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
	color: #fff;
}
#page-header a:visited {
	color: #fff;
}
.flex {
	display: flex;
}

/* Mission containers */
.mission-container {
	border: 1px solid #fff;
	border-radius: 4px;
	margin: 0 auto;
	width: 95%;
}
.mission-container .mission-img {
	flex: 1;
	padding: 5px;
}
.mission-img img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}
.mission-container .mission-text {
	flex: 2;
	padding: 40px 0 20px 20px;
}
.mission-text p {
	padding-top: 3px;
	margin: 0;
}
.mission-text > div {
	display: flex;
	flex-wrap: wrap;
}
.mission-heading {
	flex: 1;
	text-align: right;
	margin-right: 5px;
	
}
.mission-value {
	flex: 2;
}

/* Buttons */
.button {
	font-size: 1.2rem;
	text-align: center;
}
.button a {
	display: block;
	height: 100%;
}

.info-button {
	background-color: #06204A;
	padding: 4px 5px;
}

/* Font declarations
---------------------*/

h1, h2, #main-navigation, #time-left span, .button, #cta-down {
	font-family: "worksans-extralight", arial, sans-serif;
}
h3 {
	font-family: "worksans-regular", Arial, sans-serif;
}
p {
	font-family: "montserrat-light", helvetica, sans-serif;
}

/* Page header
------------------------- */
#page-header {
	width: 100%;
	height: 100px;
	margin-bottom: -100px;
	position: relative;
}

#page-header h1 {
	position: absolute;
	left: -9999px;
}

#page-header #logo {
	width: 200px;
	height: 30px;
	position: absolute;
	top: 30px;
	left: 40px;
	background: url(../images/spacex_logo_white.png) no-repeat center/contain;
}

#page-header #main-navigation {
	width: 500px;
	margin-left: -250px;
	text-align: center;
	position: absolute;
	left: 50%;
	bottom: 0;
	font-size: 1.4rem;
}
/* Page footer
------------------------- */
#page-footer {
	width: 100%;
	height: 200px;
	margin-top: -200px; /*Hvorfor funker dette? Er position absolute bedre?*/
	border-top: 1px dashed white;
}

/* --------------------------------------------------------------------------
PAGES
-------------------------------------------------------------------------- */

/* Index */

#top-container {
	/* height is defined in index-structure.js */
	width: 55%;
	margin: 0 auto;
	position: relative;
	/*border: 1px dashed Yellow; */
}
#top-container::before {
	content: "\00a0";
}

#countdown {
	flex-direction: column;
	margin-top: 200px;
	text-align: center;
}
#countdown h2 {
	position: absolute;
	left: -9999px;
}
#countdown #time-left {
	font-size: 1.5rem;
}
#countdown p {
	margin: 0 0 8px 0;
}
#countdown #time-left span {
	font-size: 1.6em;
	margin-left: 10px;
}
#countdown #time-left span:first-child {
	margin-left: 0;
}
/* CTA navigation */
#cta-navigation {
	/* border: 1px dashed white; */
	max-width: 600px;
	margin: 140px auto 0 auto;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}
#cta-navigation > .flex {
	justify-content: center;
}

#cta-rockets {
	width: 36%;
	height: 72px;
	background-image: url('../images/buttons/rockets_normal.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center right;
	/* border: 1px dotted red; */
}
#cta-circle {
	width: 24%;
	font-size: 4rem;
	/* border: 1px dotted red; */
}
#cta-circle i {
	transform: rotate(-50grad);
}
#cta-launches {
	width: 36%;
	height: 72px;
	background-image: url('../images/buttons/launches_normal.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center left;
	/* border: 1px dotted red; */
}
#cta-down {
	margin: 10px auto 0 auto;
	width: 24%;
	height: 100px;
	font-size: 1.2rem;
	color: #ebe756;
	background-image: url('../images/buttons/down_normal-2.png');
	background-repeat: no-repeat;
	background-size: contain cover;
	background-position: center bottom;
	/*border: 1px dashed lightblue; */
}

#bottom-container {
	/* border: 1px dashed green; */
	width: 55%;
	margin: 0 auto;
	position: relative;

}



/* MEDIA QUERIES 
-------------------------*/
@media screen and (min-width: 801px) and (max-width: 1280px) {

	#background-image {
		background-image: url('../images/spacex-hero-img_1280_o72.jpg');
		max-width: 1280px;

	}
}

@media screen and (min-width: 481px) and (max-width: 800px) {

	#background-image {
		background-image: url('../images/spacex-hero-img_800_o72.jpg');
		max-width: 800px;

	}
}
@media screen and (max-width: 480px) {

	#background-image {
		background-image: url('../images/spacex-hero-img_400_o72.jpg');
		max-width: 400px;
		/* IMAGE MUST BE EDITED: 480px */
	}

}